body{
    background-color: rgba(255, 166, 0, 0.452);
}
.QuizApp{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 25px;
    color: blue
}
.fatherCount{
border: 2px solid #fff;
border-radius: 10px;
background-color: white;
}
.questionCount{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 20px;
}
.question{
    margin-top: 20px;
    margin-bottom: 45px;
    margin-left: 25px;
}
.options{
    padding: 20px 20px;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.fatherOptions{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.NextBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.next{
    padding:20px 60px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}